.env
.env.*
!.env.example
*.key
auth.json

node_modules/
vendor/

dist/
dist-ssr/
public/build/
public/hot
public/storage

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.phpunit.result.cache
.phpunit.cache/
storage/pail/
storage/*.key
bootstrap/cache/*.php
*.local

.vscode/
.idea/
.fleet/
.nova/
.zed/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

Homestead.json
Homestead.yaml
.phpactor.json
