/* Hero */

.hero-1 {
    background-image: url('/img/hero/Fondo_1.png');
}
.hero-2 {
    background-image: url('/img/hero/Fondo_2.png');
}
.hero-3 {
    background-image: url('/img/hero/Fondo_3.png');
}

.hero-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 1;
}
